.container {
    border: 1px solid #612a81;
    width: 40%;
    border-radius: 15Px;
    padding: 20px;
    margin-top: 5%;
}
#imgUser{
    border-radius: 95%;
    border: 3px solid #581d64;
    width: 200px;
}